body {
    margin: 50px auto;
    display: block;
    justify-items: center;
    align-items: center;
    background-color:grey;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width :400px;
    border: 3px solid white;
    border-radius: 10px;
    background-color : #1B244A;
    margin: 50px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    margin: 10px 0;
}
.scr{
    background-color: #03071e;
    width: 70px;
    height: 50px;
    color: #F94F6D;
    text-align: center;
    border-radius: 5px;
    font-size: 50px;
    padding: 5px 10px;
    font-weight: 400;
}
.add{
    width: 27px;
    height: 25px;
    margin: 20px 0;
    color: rgba(154, 171, 216, 1);
    border: 1px solid rgba(154, 171, 216, 1);
    border-radius: 5px;
    background-color: transparent;
}
.start{
    margin-top: 70px;
    width: 60px;
    height: auto;
    border-radius: 5px;
    background-color: #03071e;
    color: #4ad66d;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}